@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
  font-family: "Henny Penny", cursive;
  font-size: 50px;
  color: cadetblue;
}
body {
  background-image: linear-gradient(to top, blue 30%, pink 60%);
  background-attachment: fixed;
}
main {
  text-align: center;
  align-items: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 15cm;
  height: 10cm;
  border: 2px solid cadetblue;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
button {
  background-color: cadetblue;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width:5cm;
  font-family: "Henny Penny", cursive;
  cursor: pointer;
 
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}
a {
  text-decoration: none;
  color: white;
}
p{
    font-family: "Roboto Condensed";
    text-align: justify;
    padding-left: 2cm;
    padding-right: 2cm;
    color: blueviolet;
    
}
.btn-hover:hover {
  background-color: #45a049;
  transform: translateY(-3px); /* Move o botão levemente para cima */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Adiciona sombra */
}

/* O que acontece quando o botão é clicado */
.btn-hover:active {
  transform: translateY(-1px); /* Retorna um pouco ao clicar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}